<!DOCTYPE HTML>
<html ng-app="searchApp">
<head>
    <title>DSR Practice task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/search.css" rel="stylesheet"/>
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/jquery-3.4.1.js"></script>
    <script src="js/controller/search.js"></script>
</head>
<body>
<div class="page">
    <div class="content">
        <div class="title">
            <div id="logo">
                <p>
                <h1>Поисковик отзывов</h1>
                <h3>Task company DSR</h3>
                </p>
            </div>
        </div>
        <div class="main">
            <div id="menu">
                <div id="description">
                    Выберите тип продукта,<br> который хотите найти.
                </div>
                <div id="buttons" ng-controller="search_menu">
                    <a ng-click="selectType('BOOK')" href="" id="check-book" class="checkbox_selected">Книги</a>
                    <a ng-click="selectType('MOVIE')" href="" id="check-movie" class="checkbox_none">Фильмы</a>

                    <form>
                        <input id="first-name" required type="text" placeholder="  Название книги"/>
                        <input id="last-name" type="text" placeholder="  Имя автора"/>
                        <input id="toResult" type="submit" ng-click="saveItemID()" value="Найти"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>