.left, .block_img, #logo, #main_desc_item  {
    float: left;
}

.right, #user_menu {
    float: right;
}

body {
    margin: 0;
}

.centerW, .title, .block_item, .block_comments, .column_item, .pagesButtons, .block_title, #back {
    margin-right: auto;
    margin-left: auto;
}

.centerH {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.page {
    min-width: auto;
}

.content {
    background: #380b9c;
}

.title {
    position: relative;
    background: #435ea8;
    height: 165px;
    min-width: 924px;
    max-width: 1287px;
    border-left: 7px #a4acb3 ridge;
    border-right: 7px #a4acb3 ridge;
    border-bottom: 7px #a4acb3 ridge
}

.block_title {
    position: relative;
    background: #5982e2;
    height: 150px;
    min-width: 1024px;
    max-width: 1387px;
}

.block_item {
    min-width: 924px;
    max-width: 1287px;
    background-color: #5982e2;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.column_item {
    min-height: 500px;
    min-width: 924px;
    max-width: 1287px;
    height: 100%;
    width: 100%;
    background-color: #435ea8;
    border: 7px #a4acb3 ridge
}

.block_img {
    margin-top: 20px;
    margin-left: 20px;
    min-height: 400px;
    min-width: 500px;
    background-color: #7f8184;
    border: 7px #95989b ridge;
}

.block_comments {
    min-width: 924px;
    max-width: 1287px;
    background-color: #5982e2;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.column_comments {
    background-color: #f5f5f5;
    min-width: 924px;
    max-width: 1287px;
    min-height: 452px;
    max-height: 100%;
    border: 7px #95989b outset;
}

.numbersPage {
    width: 30px;
    height: 30px;
}

.block_item, .block_title, .block_comments {
    border-left: 7px #85c6ff solid;
    border-right: 7px #85c6ff solid;
}

.pagesButtons {
    margin-top: 10px;
    width: 250px;
}

#logo {
    background: rgb(232, 232, 232);
    margin-left: 50px;
    margin-top: 10px;
    padding: 10px;

    width: 600px;
    height: 110px;
    border: 7px #95989b double;
}

#user_menu {
    background: #e8e8e8;
    margin-right: 50px;
    margin-top: 10px;
    padding: 10px;

    width: 200px;
    height: 110px;

    text-align: center;
    border: 7px #95989b double;
}

#img_item {
    margin: 10px;
    min-height: 380px;
    border: 10px solid #777777; /* Параметры рамки */
    /* Добавляем фон */
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover; /* Масштабируем фон */
}

#main_desc_item {
    margin-right: 10px;
    margin-left: 10px;
    height: 420px;
    width: 370px;
    background: #435ea8;
    word-wrap: break-word;
    color: #d5d5d5;
    font-size: 30px;
}

#desc_item {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 480px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ededed;
    min-height: 200px;
    max-height: 100%;
    font-size: 20px;

    border: 7px #95989b outset;
}

.comment {
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

#back {

}

a.view {
    outline: none;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

