body {
    margin: 0;
}

.centerW, .page, .title, .content, .main, #buttons  {
    margin-right: auto;
    margin-left: auto;
}

.centerH {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.left, #logo {
   float: left;
}

.right, #user_menu{
    float: right;
}

.page {
    min-width: auto;
}

.content {
    background: #659ea2;
}

.title {
    position: relative;
    background: #9fa5a3;
    height: 180px;
    min-width: 1024px;
    max-width: 1387px;
    border-right: 5px #659ea2 solid;
    border-left: 5px #659ea2 solid;
    border-bottom: 7px #659ea2 solid;
}

.main {
    position: relative;
    background-color: #a2dedb;
    height: 800px;
    min-width: 1024px;
    max-width: 1387px;
    border-right: 5px #659ea2 solid;
    border-left: 5px #659ea2 solid;
}

#menu {
    color: white;
    background: #5780a0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 450px;
    font-size: 20px;
    border: 7px #709bbb outset;
}

#logo {
    background: #eff2ff;
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px;

    width: 600px;
    height: 110px;
    border: 7px #95989b double;
}

#user_menu {
    background: #eff2ff;
    margin-right: 40px;
    margin-top: 10px;
    padding: 10px;

    width: 200px;
    height: 110px;

    text-align: center;
    border: 7px #95989b double;
}

#description {
    margin-top: 25px;
    text-align: center
}

#buttons {
    margin-top: 60px;
    margin-left: 72px;
    margin-right: 72px;
}

.checkbox, .checkbox_none, .checkbox_selected {
    outline: none;
    display: block;
    text-decoration: none;
    float: left;
    width: 100px;
    padding: 6px 0;
    text-align: center;
    font-size: 14px;
    height: 22px;
    line-height: 1.5em;
    font-weight: bold;
}

.checkbox_none {
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: #fff;
    text-shadow: 1px 1px 1px #fff;
}

.checkbox_selected {
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: #8bff86;
    text-shadow: 1px 1px 1px #fff;
}

#buttons > form > input[type="text"] {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 302px;
}

#buttons > form {
    padding-top: 50px;
}

#buttons > form > input[type="submit"] {
    height: 30px;
    width: 100px;
    margin-left: 100px
}